<h1>add books</h1>

<form action="/add_books" method="post">
  <div class="form-group">
    <label for="title">Title</label>
    <input id="title" name="title" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="author">Author</label>
    <input id="author" name="author" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="status">Status: t or f</label>
    <input id="status" name="status" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-info">Add Book</button>
</form>

<!-- remove book list when done testing -->
<p>Books list:</p>
<%@books.each do |book|%>
  <h4><a href="/books/<%= book.id%>"><%= book.title%><%= book.author%></a></h4>
<% end %>

<div class="container">
  <a href="/catalogue">Catalogue</a>
  <a href="/">Library Main</a>
</div>
